@import 'agencyCreate';
body{
    background: #e9ebee
}

.dashboard-entry{
    //width:20%;
    height:10%;
    display: inline-block;
    border:1px solid #777;
    padding:10px;
    margin: 50px;
}
.question{
    box-shadow: 1px 1px 5px #888888;
    margin:25px;
    padding:10px;
    background: #fff;   
}

.question-actions
{
    border: none;
    margin: 5px;
    background: transparent;
    color: blue;
}
h1{
    float:left;
    color:#CCA;
}

.login-modal
{
    .modal-dialog{
        width: 285px;
        position: absolute;

    }
}

h4{
    text-align: center;
}

.username
{
    margin-bottom: 30px;
    margin-top: 15px;
}

.password
{
    margin-bottom: 15px;
}
.headFootColors
{
    background: #4267b2;
    color: #fff;
}
.header
{
    @extend .headFootColors;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    text-align: center; 
    z-index: 1;
    img{
        width: 95px;
        height: 74px;
        float: left;
    }
}

.container
{
    margin-top:75px;
    z-index: 0;
}


h2, h3{
    text-align: center;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .nav-bar
  {
    position: fixed;
    top: 7px;
    right: 7px;
    z-index: 1;
    a{
        color: #fff;
        position: relative;
        top: 25px;
        right: 60px;
        margin: 10px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    span
    {
        margin: 20px;
    }
  }
